<div>
<h1 ><ins>Les différents Bindings</ins></h1>

<div>
<h3><ins>Bindings One Way</ins></h3>
<p>Ma string : {{ str }}</p>
<p>Mon nombre : {{num}}</p>
<p>Mon Boolean : {{bool}}</p>
<p>Ma Date : {{date}}</p>
</div>
<div>
<h3><ins>Bindings Two Way</ins></h3>
<p>TW_STR : {{ tw_str}}</p>
<input [(ngModel)]="tw_str" type="text">
<br><br>
<p>TW_NUMBER : {{ tw_number}}</p>
<input [(ngModel)]="tw_number" type="number" >
</div>
<div>
<h3><ins>Binding d'évenements</ins></h3>
<p>Count : {{ count}}</p>
<button (click)="increment()">+</button>
<button (click)="decrement()">-</button>
<button (dblclick) = "resetcount()">Reset</button>
</div>
</div>