<div>
    <span><a routerLink="">Home</a></span>
    
    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="Bindings">1 : Bindings</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="pipes">2 : Pipes</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="inputoutput">3 : @Input/@Output</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="pipes">2 : Pipes</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="Exos1">Exos1</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="Exos2">Exos2</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="Tuto">Tuto</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="shoppingv1">Shopping V1</a></span>

    &nbsp;&nbsp;|&nbsp;&nbsp;
    <span><a routerLink="chronopipe">Chrono++</a></span>

  </div>
