<div>
    <div>
        <p><ins>Selected : </ins></p>
             <select [(ngModel)]="SelectedOption">
                 <option *ngFor="let option of options"[value]="option.value">{{ option.label1 }}</option>
             </select>
    </div>      
        <div >
         <p><ins>Input Texte : </ins></p>
             <input type="text">
        </div>
        <div>
         <p><ins>Button Radio : </ins></p>
         <div role="group">
             <label *ngFor="let option of options2">
             <input type="radio" name="options2" [(ngModel)]="selectedOption2" [value]="option.value">
                {{ option.label2 }}
             </label>
         </div>
        </div> 
        <div>
            <p><ins>Form check: </ins></p>
            <div>
                 <input type="checkbox" id="inlineCheckbox1" value="option1">
                 <label for="inlineCheckbox1">1</label>
         </div>
             <div>
                 <input type="checkbox" id="inlineCheckbox2" value="option2">
                 <label for="inlineCheckbox2">2</label>
            </div>
         <div>
                 <input type="checkbox" id="inlineCheckbox3" value="option3" disabled>
                <label for="inlineCheckbox3">3 (disabled)</label>
         </div>
    </div>
    <div>
        <div>
          <p>Input  : </p>
          <input type="text" [(ngModel)]="defaultValue" >
        </div>
        <p>Input Texte (limite de 20 caractères) : </p>
        <div>
          <input type="text" [(ngModel)]="inputValue" (input)="updateValue($event)">
        </div>
        <div>
          <p>Valeur en temps réel : {{ inputValue }}</p>
        </div>
      </div>
      
</div>